@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 75, 94, 0.705);
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    border-radius: 20px;
    background-color: #fff;
    color: #3e6c73;
}

.form-image{
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.form-header{
    justify-content: space-between;
    display: inline-block;
    position: fixed;
}

.form{
    justify-content: center;
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: #fff;
    border-radius: 20px;
}

.form-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0rem;
}

.register-button{
    justify-content: center;
    align-items: center;
}

.register-button button{
    padding: 9px 25px;
    background-color: rgba(0, 135, 169, 0.055);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 0.4rem 1rem;
    margin-top: 0.5rem;
    margin-left: 10rem;
    color: #5e9da7;
    display: inline;
  }
  
.register-button button:hover{
    background-color: rgba(2, 75, 94, 0.705);
    color: #fff;
}

.register-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #5e9da7;
}

.register-button a:hover{
    color: #fff;
}
    
.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #3e6c73;
    position: absolute;
}

.input-box{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.input-box input:hover{
    background-color: rgba(0, 0, 0, 0.116);
    transition: all 0.3s ease 0s;
}

.input-box label{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: left;
}
.input-box input{
    margin-bottom: 1.1rem;
    border: none;
    box-shadow: 2px rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    padding: 0.5rem;
}

#submit-button button{
    padding: 0.5rem 10rem;
    background-color: rgba(0, 135, 169, 0.055);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #5e9da7;
}

#submit-button button:hover{
    background-color: rgba(2, 75, 94, 0.705);
    color: white;
}

.required{
    color: #fa4040;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    display: none;
}

/*Floating*/

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.img-floating{
	overflow: hidden;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}